.search_input{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 100rpx;
    background-color: var(--themeColor);
    navigator{
        height: 100%;
        border-radius: 10rpx;
    }
}